{% extends 'base.html' %}

{% block content2 %}
<div class="backgroundimagesetting">
    <br>
    <div class="container bg-secondary" style="padding: 12px;">
        <iframe width="100%" height="600px" src="{{ movie.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
        <div class="d-flex justify-content-start align-items-center">
            <img class="items me-3" width="300px" height="450px" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{ movie.poster_path }}" alt="">
            <div class="items">
                <h1 class="d-flex item align-items-center">{{ movie.title }} <span class="ms-2 btn btn-success" style="cursor:default">{{movie.vote_average}}</span></h1>
                <br>
                <h4>개요 : {{ movie.genre }}</h4>
                <div class="item" >{{ movie.overview }}</div>
                <hr>
                <div class="container">
                    <div class="d-flex flex-row justify-content-around">
                        <div>
                            <h5 class="text-center">감 독</h5>
                            <div class="d-flex">
                                {% for director in directors %}
                                {% if director.movie_id == movie.id %}
                                <div class="d-flex">
                                    <div class="item" style="margin:10px;">
                                        {% load static %}
                                        <img width="110px" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{director.profile_path}}" onerror="this.src=`{% static 'movies/ALT_IMAGE.png' %}`" alt="">
                                        <div style="width:100px; text-align:center; word-break:normal; " class="text-center">{{director.name}}</div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <div>
                            <h5 class="text-center">배 우</h5>
                            <div class="d-flex">
                                {% for actor in actors %}
                                {% if actor.movie_id == movie.id %}
                                <div class="d-flex">
                                    <div class="item" style="margin:10px;">
                                        <img  width="110px" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{actor.profile_path}}" alt="">
                                        <div style="width:100px; text-align: center; word-break:normal;">{{actor.name}}</div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% if movie.user == request.user %}
        <div>
            <a href="{% url 'movies:update' movie.pk %}">UPDATE</a>
        </div>
        <form action="{% url 'movies:delete' movie.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="DELETE">
        </form>
            {% comment %} <a href="{% url 'movies:delete' movie.pk %}">DELETE</a> {% endcomment %}
        {% endif %}

        <hr>
        <h4>댓글</h4>
        <ul>
            {% for comment in comments %}
            <li>{{ comment.content }}
                {% if request.user == movie.user %}
                <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method='POST' class='d-inline'>
                {% csrf_token %}
                <input type="submit" value="DELETE">
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <hr>
        <form action="{% url 'movies:comments_create' movie.pk %}" method='POST'>
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value='작성'>
        </form>
    </div>
</div>
{% endblock content2 %}