{% extends 'base.html' %}
{% load static %}
{% block detail %}
<body class="backgroundimagesetting" style="background-attachment: fixed;">
    <div>
    <br>
    <div class="container detailmainbackgroundimagesetting" style="padding: 12px;">
        <iframe width="100%" height="600px" src="{{ movie.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr> 
        <div class="d-flex flex-row justify-content-start align-items-start">
            <div>
                <img class="items me-3 mt-3" width="480px" height="720px" src="https://www.themoviedb.org/t/p/original{{ movie.poster_path }}" alt="">
                <br>
                <br>
                <div style="background-color:white; width:480px;" class="p-3 scoremainbackgroundimagesetting" >
                    <div class="d-flex align-items-end text-center mb-1">
                        <br>
                        <h5 class="align-items-end">
                            {% if scores_num %}
                            <div class="d-flex align-items-center">
                                <h5 class="m-0" >
                                    회원 평점 :&ensp;
                                </h5> 
                                <div class="align-items-end mb-2">
                                    {% if scores_user <= 1 %}
                                    <div class="item d-flex flex-row justify-content-start text-center">
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                    </div>
                                    {% elif scores_user <= 2 %}
                                    <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                    </div>
                                    {% elif scores_user <= 3 %}
                                    <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                    </div>
                                    {% elif scores_user <= 4 %}
                                    <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                    </div>
                                    {% elif scores_user <= 5 %}
                                    <div class="item d-flex flex-row justify-content-start align-items-start text-center">
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                        <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                    </div>
                                    {% endif %}
                                </div>
                                &ensp;{{ scores_avg }} ({{scores_num}})
                            </div>
                            {% else %}
                            <h5>회원 평점 : 평가 정보가 없습니다.</h5>
                            {% endif %}
                        </h5>
                    </div>
                    <div>
                        {% if request.user %}
                            {% comment %} 작성된 평점이 있는 경우 {% endcomment %}
                            {% if scores_num %}
                                {% for score in scores %}
                                    {% comment %} 내가 작성한 평점이 있는 경우 {% endcomment %}
                                    {% if request.user == score.user %}
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="mb-1">
                                                <h5 class="m-0">
                                                    나의 평점 :&ensp;
                                                </h5>
                                            </div>
                                            <div class="align-items-end mb-2">
                                                {% if score.star <= 1 %}
                                                <div class="item d-flex flex-row justify-content-start text-center">
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                </div>
                                                {% elif score.star <= 2 %}
                                                <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                </div>
                                                {% elif score.star <= 3 %}
                                                <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                </div>
                                                {% elif score.star <= 4 %}
                                                <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem;" class="text-center">&#9733;</span>
                                                </div>
                                                {% elif score.star <= 5 %}
                                                <div class="item d-flex flex-row justify-content-start align-items-start text-center">
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                    <span style="font-size:1.5rem; color:#fc0;" class="text-center">&#9733;</span>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <form action="{% url 'movies:scores_delete' movie.pk score.pk %}" method='POST'>
                                                {% csrf_token %}
                                                <input type="submit" value="평점 삭제" class="btn btn-danger ms-2">
                                            </form>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="mb-1">
                                                <h5 class="m-0">
                                                    평점 수정 :&ensp;
                                                </h5>
                                            </div>
                                            <form action="{% url 'movies:scores_update' movie.pk score.pk %}" method='POST'>
                                                {% csrf_token %}
                                                <div class="d-flex">
                                                    <div class="d-flex star-rating text-center mb-2">
                                                        <input type="radio" id="5-stars" name="star" value="5" />
                                                        <label for="5-stars" class="star">&#9733;</label>
                                                        
                                                        <input type="radio" id="4-stars" name="star" value="4" />
                                                        <label for="4-stars" class="star">&#9733;</label>
                                                        
                                                        <input type="radio" id="3-stars" name="star" value="3" />
                                                        <label for="3-stars" class="star">&#9733;</label>
                                                        
                                                        <input type="radio" id="2-stars" name="star" value="2" />
                                                        <label for="2-stars" class="star">&#9733;</label>
                                                        
                                                        <input type="radio" id="1-star" name="star" value="1" />
                                                        <label for="1-star" class="star">&#9733;</label>
                                                    </div>
                                                    <input type="submit" value='평점 수정' class="btn btn-success ms-2">
                                                </div>
                                            </form>
                                        </div>
                                        {% comment %} 내가 작성한 평점이 없는 경우 {% endcomment %}
                                        {% elif forloop.counter == scores_num %}
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="mb-1">
                                                <h5 class="m-0">
                                                    평점 주기 :&ensp;
                                                </h5>
                                            </div>
                                            <form action="{% url 'movies:scores_create' movie.pk %}" method='POST'>
                                                {% csrf_token %}
                                                <div class="d-flex">
                                                    <div class="d-flex star-rating text-center mb-2">
                                                        <input type="radio" id="5-stars" name="star" value="5" />
                                                        <label for="5-stars" class="star">&#9733;</label>
                                                        
                                                        <input type="radio" id="4-stars" name="star" value="4" />
                                                        <label for="4-stars" class="star">&#9733;</label>
                                                        
                                                        <input type="radio" id="3-stars" name="star" value="3" />
                                                        <label for="3-stars" class="star">&#9733;</label>
                                                        
                                                        <input type="radio" id="2-stars" name="star" value="2" />
                                                        <label for="2-stars" class="star">&#9733;</label>
                                                        
                                                        <input type="radio" id="1-star" name="star" value="1" />
                                                        <label for="1-star" class="star">&#9733;</label>
                                                    </div>
                                                    <input type="submit" value='평점 등록' class="btn btn-success ms-2">
                                                </div>
                                            </form>
                                        </div>
                                        {% endif %}
                                    {% comment %} 작성된 평점이 없는 경우 {% endcomment %}
                                {% endfor %}
                            {% else %}
                                <div class="d-flex flex-row align-items-center">
                                    <div class="mb-1">
                                        <h5 class="m-0">
                                            평점 주기 :&ensp;
                                        </h5>
                                    </div>
                                    <form action="{% url 'movies:scores_create' movie.pk %}" method='POST'>
                                        {% csrf_token %}
                                        <div class="d-flex">
                                            <div class="d-flex star-rating text-center mb-2">
                                                <input type="radio" id="5-stars" name="star" value="5" />
                                                <label for="5-stars" class="star">&#9733;</label>
                                                
                                                <input type="radio" id="4-stars" name="star" value="4" />
                                                <label for="4-stars" class="star">&#9733;</label>
                                                
                                                <input type="radio" id="3-stars" name="star" value="3" />
                                                <label for="3-stars" class="star">&#9733;</label>
                                                
                                                <input type="radio" id="2-stars" name="star" value="2" />
                                                <label for="2-stars" class="star">&#9733;</label>
                                                
                                                <input type="radio" id="1-star" name="star" value="1" />
                                                <label for="1-star" class="star">&#9733;</label>
                                            </div>
                                            <input type="submit" value='평점 등록' class="btn btn-success ms-2">
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div >
                <br>
                <div class="item d-flex justify-content-start  text-center">
                    <div class="d-flex align-items-center">
                        <h2 class="m-0">{{ movie.title }}</h2>
                        <h2 class="m-0">({{ movie.release_date|slice:":4"|join:"" }})</h2>
                    </div>
                    <h5 class="d-flex align-items-end ms-2 m-0">{{ movie.genre }}</h5>
                </div>
                <div class="d-flex" style="font-size:20px;">
                    {% if movie.vote_average < 2 %}
                    <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                    </div>
                    {% elif movie.vote_average <= 4 %}
                    <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                    </div>
                    {% elif movie.vote_average <= 6 %}
                    <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                    </div>
                    {% elif movie.vote_average <= 8 %}
                    <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span class="text-center">&#9733;</span>
                    </div>
                    {% elif movie.vote_average <= 10 %}
                    <div class="item d-flex flex-row justify-content-start align-items-center text-center">
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                        <span style=" color:#fc0;" class="text-center">&#9733;</span>
                    </div>
                    {% endif %}
                    <div>({{movie.vote_average}})</div>
                </div>
                <hr>
                <div>개봉일 : {{ movie.release_date }}</div>
                <br>
                <h5 class="item" >&ensp;{{ movie.overview }}</h5>

                <div>
                    <br>
                    <h4> 감독</h4>
                    <hr>

                    <div class="d-flex flex-row justify-content-start fw-bold">
                        {% for movie_director in movie_directors %}
                            {% if user.id %}
                            <div>
                                <form class="dlike-form" data-director-id="{{ movie_director.pk }}" style="margin:10px;">
                                    {% csrf_token %}
                                    {% if user in movie_director.like_users.all %}
                                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                                        <img width="135px" src="https://www.themoviedb.org/t/p/original{{movie_director.profile_path }}" onerror="this.src=`{% static 'movies/ALT_IMAGE.png' %}`" alt="">
                                    </button>
                                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{movie_director.name}}
                                        <span>
                                            <i id="dlike-{{ movie_director.pk }}" class="fa-solid fa-heart" style="color:red">
                                            </i>
                                        </span>
                                    </div>
                                    {% else %}
                                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                                        <img width="135px" src="https://www.themoviedb.org/t/p/original{{movie_director.profile_path }}" onerror="this.src=`{% static 'movies/ALT_IMAGE.png' %}`" alt="">
                                    </button>
                                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{movie_director.name}}
                                        <span>
                                            <i id="dlike-{{ movie_director.pk }}" class="fa-solid fa-heart" style="color:black">
                                            </i>
                                        </span>
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                            {% else %}
                            <div class="d-flex">
                                <div class="item" style="margin:10px;">
                                    <img width="135px" src="https://www.themoviedb.org/t/p/original{{movie_director.profile_path }}" onerror="this.src=`{% static 'movies/ALT_IMAGE.png' %}`" alt="">
                                    <div style="width:135px; text-align:center; word-break:normal; " class="text-center text-dark">{{movie_director.name}}</div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <br>
                    <h4> 배우</h4>
                    <hr>

                    <div class="d-flex flex-row justify-content-start fw-bold">
                        {% for movie_actor in movie_actors %}
                            {% if user.id %}
                            <div>
                                <form class="alike-form" data-actor-id="{{ movie_actor.pk }}" style="margin:10px;">
                                    {% csrf_token %}
                                    {% if user in actor.like_users.all %}
                                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                                        <img  width="135px" src="https://www.themoviedb.org/t/p/original{{movie_actor.profile_path}}" onerror="this.src=`{% static 'movies/ALT_IMAGE.png' %}`" alt="">
                                    </button>
                                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{movie_actor.name}}
                                        <span>
                                            <i id="alike-{{ movie_actor.pk }}" class="fa-solid fa-heart" style="color:red">
                                            </i>
                                        </span>
                                    </div>
                                    {% else %}
                                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                                        <img  width="135px" src="https://www.themoviedb.org/t/p/original{{movie_actor.profile_path}}" onerror="this.src=`{% static 'movies/ALT_IMAGE.png' %}`" alt="">
                                    </button>
                                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{movie_actor.name}}
                                        <span>
                                            <i id="alike-{{ movie_actor.pk }}" class="fa-solid fa-heart" style="color:black">
                                            </i>
                                        </span>
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                            {% else %}
                            <div class="d-flex">
                                <div class="item" style="margin:10px;">
                                    <img  width="135px" src="https://www.themoviedb.org/t/p/original{{movie_actor.profile_path}}" onerror="this.src=`{% static 'movies/ALT_IMAGE.png' %}`" alt="">
                                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{movie_actor.name}}</div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% if movie.user == request.user %}

        <div>
            <a href="{% url 'movies:update' movie.pk %}">UPDATE</a>
        </div>

        <form action="{% url 'movies:delete' movie.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="DELETE">
        </form>

        {% endif %}
        <br>
        <h4>댓글&ensp;<span>({{ comments_num }})</span></h4>
        {% if comments_num %}
        <hr>
        {% endif %}
        <div>
            {% for comment in comments %}
            <div class="d-flex flex-row justify-content-start align-items-center">&ensp;{{ comment.user }} - {{ comment.content }} 
                {% if request.user == comment.user %}
                <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method='POST' class='d-inline'>
                    {% csrf_token %}
                    <input type="submit" value="X" class="btn">
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <hr>
        <form action="{% url 'movies:comments_create' movie.pk %}" method='POST'>
            {% csrf_token %}
            <label for="content"></label>
            <input id="content" type="text" name="content" placeholder="댓글 작성하기">
            <input type="submit" value='작성'>
        </form>
    </div>
    <br>
</div>

<script>
    const dforms = document.querySelectorAll('.dlike-form')
    const dcsrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    dforms.forEach((form) => {
        form.addEventListener('submit', (event)=>{
            event.preventDefault()
            const directorId = event.target.dataset.directorId
            axios({
                method: 'post',
                url: `http://127.0.0.1:8000/movies/${directorId}/director_likes/`,
                headers: {'X-CSRFToken': dcsrftoken},
            })
            .then(response => {
                const { isLiked, likedCount } = response.data
                const likeBtn = document.querySelector(`#dlike-${directorId}`)
                const likeCount = document.querySelector(`#dlike-count-${directorId}`)
                if (isLiked) {
                    likeBtn.style.color = 'red'
                } else {
                    likeBtn.style.color = 'black'
                }
            })
        })
    })

    const aforms = document.querySelectorAll('.alike-form')
    const acsrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    aforms.forEach((form) => {
        form.addEventListener('submit', (event)=>{
            event.preventDefault()
            const actorId = event.target.dataset.actorId
            axios({
                method: 'post',
                url: `http://127.0.0.1:8000/movies/${actorId}/actor_likes/`,
                headers: {'X-CSRFToken': acsrftoken},
            })
            .then(response => {
                const { isLiked, likedCount } = response.data
                const likeBtn = document.querySelector(`#alike-${actorId}`)
                const likeCount = document.querySelector(`#alike-count-${actorId}`)
                if (isLiked) {
                    likeBtn.style.color = 'red'
                } else {
                    likeBtn.style.color = 'black'
                }
            })
        })
    })

</script>
{% endblock detail %}