{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <hr>
    <div class="d-flex">
        <img style="margin-right:50px" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{ movie.poster_path }}" alt="">
        <div class="item">
            <h1 style="margin-top:50px; margin-bottom:100px;" class="item">{{ movie.title }}</h1>
            <h4 class="item">{{ movie.overview }}</h4>
            <iframe width="560" height="315" src="{{ movie.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    {% if movie.user == request.user %}
    <div>
        <a href="{% url 'movies:update' movie.pk %}">UPDATE</a>
    </div>
    <form action="{% url 'movies:delete' movie.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE">
    </form>
        {% comment %} <a href="{% url 'movies:delete' movie.pk %}">DELETE</a> {% endcomment %}
    {% endif %}

    <hr>

    <div class="container">
        <div class="d-flex flex-row">

            <div>
                <h5 class="text-center">감독</h5>
                <div class="d-flex">
                    {% for director in directors %}
                    {% if director.movie_id == movie.id %}
                    <div class="d-flex">
                        <div class="item">
                            <img style="margin:10px;" width="150px" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{director.profile_path}}" alt="">
                            <p class="text-center">{{director.name}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div>
                <h5 class="text-center">배우</h5>
                <div class="d-flex">
                    {% for actor in actors %}
                    {% if actor.movie_id == movie.id %}
                    <div class="d-flex">
                        <div class="item">
                            <img style="margin:10px;" width="150px" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{actor.profile_path}}" alt="">
                            <p class="text-center">{{actor.name}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <a href="{% url 'movies:index' %}">BACK</a>
    <hr>
    <h4>댓글 목록</h4>
    <ul>
        {% for comment in comments %}
        <li>{{ comment.content }}
            {% if request.user == movie.user %}
            <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method='POST' class='d-inline'>
            {% csrf_token %}
            <input type="submit" value="DELETE">
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <hr>
    <form action="{% url 'movies:comments_create' movie.pk %}" method='POST'>
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value='작성'>
    </form>
{% endblock content %}