{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'movies:create' %}">[CREATE]</a>
    {% endif %}
    <hr>
    <div class="d-flex flex-row flex-wrap">
        {% for movie in movies %}
        <div>
            <a class="text-decoration-none" href="{% url 'movies:detail' movie.pk %}">
                <img width=200px; style="margin-right:50px" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{ movie.poster_path }}" alt="">
            </a>
            <div>
                <a class="text-decoration-none" href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a>
            </div>
        </div>
        {% endfor %}
        <hr>
    </div>
{% endblock content %}