{% extends 'base.html' %}

{% block content %}
<br>
<html lang="en" style="height: 100%">
<body class="mainbackgroundimagesetting" >

<div class="container detailmainbackgroundimagesetting" style="height: 100%">
    <br>
    <h1>영화 수정하기</h1>
    <hr>
    <form action="{% url 'movies:update' movie.pk %}" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="수정 완료">
        <input class="btn btn-warning" type="reset" value="리셋">
        <a class="btn btn-secondary" href="{% url 'movies:detail' movie.pk %}">돌아가기</a>
    </form>
    <hr>
    
    <br>
    <br>
</div>
    <br>
    <br>
{% endblock content %}