{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<html lang="en" style="height: 100%">
<body class="mainbackgroundimagesetting" >

<div class="container detailmainbackgroundimagesetting" style="height: 100%">
    <br>
    <h1>{{ person.username }}</h1>
    <hr>
    {% if user == person %}
        <h4>좋아요 누른 감독</h4>
        {% if directors %}
        <div class="d-flex flex-row justify-content-start fw-bold">
        {% for director in directors %}
            <div>
                <form class="dlike-form" data-director-id="{{ director.pk }}" style="margin:10px;">
                    {% csrf_token %}
                    {% if user in director.like_users.all %}
                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                        <img width="135px" src="https://www.themoviedb.org/t/p/original{{ director.profile_path }}" onerror="this.src=`{% static 'accounts/ALT_IMAGE.png' %}`" alt="">
                    </button>
                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{ director.name }}
                        <span>
                            <i id="dlike-{{ director.pk }}" class="fa-solid fa-heart" style="color:red">
                            </i>
                        </span>
                    </div>
                    {% else %}
                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                        <img width="135px" src="https://www.themoviedb.org/t/p/original{{ director.profile_path }}" onerror="this.src=`{% static 'accounts/ALT_IMAGE.png' %}`" alt="">
                    </button>
                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{ director.name }}
                        <span>
                            <i id="dlike-{{ director.pk }}" class="fa-solid fa-heart" style="color:black">
                            </i>
                        </span>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <p>&ensp;좋아하는 감독이 없습니다.</p>
        {% endif %}
        <hr>

        <h4>좋아요 누른 배우</h4>
        {% if actors %}
        <div class="d-flex flex-row justify-content-start fw-bold">
        {% for actor in actors %}
            <div>
                <form class="alike-form" data-actor-id="{{ actor.pk }}" style="margin:10px;">
                    {% csrf_token %}
                    {% if user in actor.like_users.all %}
                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                        <img width="135px" src="https://www.themoviedb.org/t/p/original{{ actor.profile_path }}" onerror="this.src=`{% static 'accounts/ALT_IMAGE.png' %}`" alt="">
                    </button>
                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{ actor.name }}
                        <span>
                            <i id="alike-{{ actor.pk }}" class="fa-solid fa-heart" style="color:red">
                            </i>
                        </span>
                    </div>
                    {% else %}
                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                        <img width="135px" src="https://www.themoviedb.org/t/p/original{{ actor.profile_path }}" onerror="this.src=`{% static 'accounts/ALT_IMAGE.png' %}`" alt="">
                    </button>
                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{ actor.name }}
                        <span>
                            <i id="alike-{{ actor.pk }}" class="fa-solid fa-heart" style="color:black">
                            </i>
                        </span>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <p>&ensp;좋아하는 배우가 없습니다.</p>
        {% endif %}
        <hr>

        <h4>내 커뮤니티 게시글</h4>
        {% if person.article_set.all %}
            {% for article in person.article_set.all %}
                <p>{{ article.title }}</p>
            {% endfor %}
        {% else %}
            <p>&ensp;작성된 게시글이 없습니다.</p>
        {% endif %}
        <hr>

        <h4>내 영화 댓글</h4>
        {% if person.comment_set.all %}
            {% for comment in person.comment_set.all %}
                <p>{{ comment.content }}</p>
            {% endfor %}
        {% else %}
            <p>&ensp;작성된 댓글이 없습니다.</p>
        {% endif %}
        <hr>

        <h4>평점을 준 영화</h4>
        {% if like_articles.all %}
            {% for article in person.like_articles.all %}
                <p>{{ article.title }}</p>
            {% endfor %}
        {% else %}
            <p>&ensp;좋아요를 누른 게시글이 없습니다.</p>
        {% endif %}
        <hr>
        <br>
    {% else %}

        <h4>{{person.username}}의 게시글</h4>
        {% if person.article_set.all %}
            {% for article in person.article_set.all %}
                <p>{{ article.title }}</p>
            {% endfor %}
        {% else %}
            <p>작성한 게시글이 없습니다.</p>
        {% endif %}
        <hr>

        <h4>{{person.username}}의 댓글</h4>
        {% if person.comment_set.all %}
            {% for comment in person.comment_set.all %}
                <p>{{ comment.content }}</p>
            {% endfor %}
        {% else %}
            <p>&ensp;작성된 댓글이 없습니다.</p>
        {% endif %}
        <hr>

        <h4>{{person.username}}의 좋아요</h4>
        {% if like_articles.all %}
            {% for article in person.like_articles.all %}
                <p>{{ article.title }}</p>
            {% endfor %}
        {% else %}
            <p>&ensp;좋아요를 누른 게시글이 없습니다.</p>
        {% endif %}
        <hr>
        
        <br>
    {% endif %}
</div>

{% endblock content %}