{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<html lang="en" style="height: 100%">
<body class="mainbackgroundimagesetting" >

<div class="container detailmainbackgroundimagesetting" style="height: 100%">
    <br>
    <h1>{{ person.username }} <span>
        {% if person.is_staff %}
        (관리자)
        {% endif %}</span> </h1>
    <hr>
    {% if user == person %}
        <h4>좋아요 누른 감독</h4>
        <div class="d-flex flex-row justify-content-start fw-bold">
        {% if directors %}
        {% for director in directors %}
            <div>
                <form style="margin:10px;">
                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                        <img width="135px" src="https://www.themoviedb.org/t/p/original{{ director.profile_path }}" onerror="this.src=`{% static 'accounts/ALT_IMAGE.png' %}`" alt="">
                    </button>
                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{ director.name }}
                        <span>
                            <i class="fa-solid fa-heart" style="color:red"></i>
                        </span>
                    </div>
                </form>
            </div>
        {% endfor %}
        {% else %}
            <p>&ensp;좋아하는 감독이 없습니다.</p>
        {% endif %}
        </div>
        <hr>

        <h4>좋아요 누른 배우</h4>
        <div class="d-flex flex-row justify-content-start fw-bold">
        {% if actors %}
        {% for actor in actors %}
            <div>
                <form style="margin:10px;">
                    <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                        <img width="135px" src="https://www.themoviedb.org/t/p/original{{ actor.profile_path }}" onerror="this.src=`{% static 'accounts/ALT_IMAGE.png' %}`" alt="">
                    </button>
                    <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{ actor.name }}
                        <span>
                            <i class="fa-solid fa-heart" style="color:red"></i>
                        </span>
                    </div>
                </form>
            </div>
        {% endfor %}
        {% else %}
            <p>&ensp;좋아하는 배우가 없습니다.</p>
        {% endif %}
        </div>
        <hr>

        <h4>내 커뮤니티 게시글</h4>
        <div class="fw-bold">

        {% if person.article_set.all %}
            {% for article in person.article_set.all %}
                <p>&ensp;<a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></p>
            {% endfor %}
        {% else %}
            <p>&ensp;작성된 게시글이 없습니다.</p>
        {% endif %}
        </div>
        <hr>

        <h4>내 영화 댓글</h4>
        <div class=" fw-bold">
        {% if person.comment_set.all %}
            {% for comment in person.comment_set.all %}
            <div class="d-flex">
                {% for movie in movies %}
                    {% if comment.movie_id == movie.id %}
                        <p>&ensp;<span><a href="{% url 'movies:detail' comment.movie_id %}">{{ movie.title }}</a></span>&ensp; - &ensp;{{ comment.content }}</p>
                    {% endif %}
                {% endfor %}
                <p></p>
            </div>            
            {% endfor %}
            {% else %}
            <p>&ensp;작성된 댓글이 없습니다.</p>
            {% endif %}
        </div>
        <hr>

        <h4>평점을 준 영화(나의 평점)</h4>
        <div class="d-flex flex-row justify-content-start fw-bold">

        {% if scores %}
            {% for score in scores %}
                {% for movie in movies %}
                    {% if score.movie_id == movie.id %}
                        <div>
                            <div class="">
                                <a class="text-decoration-none" href="{% url 'movies:detail' movie.pk %}">
                                <img class="items m-2 mt-2" width="135px" height="203px" src="https://www.themoviedb.org/t/p/original{{ movie.poster_path }}" alt="">
                                </a>
                            </div>
                            <div class="text-center ms-2" style="width:135px; word-break:normal;">{{movie.title}} ({{score.star}})</div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>&ensp;평점을 준 영화가 없습니다.</p>
        {% endif %}
        </div>
        <hr>
        <br>

    
    {% else %}

    <h4>{{person.username}}님이 좋아요 누른 감독</h4>
    <div class="d-flex flex-row justify-content-start fw-bold">
    {% if directors %}
    {% for director in directors %}
        <div>
            <form style="margin:10px;">
                <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                    <img width="135px" src="https://www.themoviedb.org/t/p/original{{ director.profile_path }}" onerror="this.src=`{% static 'accounts/ALT_IMAGE.png' %}`" alt="">
                </button>
                <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{ director.name }}
                    <span>
                        <i class="fa-solid fa-heart" style="color:red"></i>
                    </span>
                </div>
            </form>
        </div>
    {% endfor %}
    {% else %}
        <p>&ensp;좋아하는 감독이 없습니다.</p>
    {% endif %}
    </div>
    <hr>

    <h4>{{person.username}}님이 좋아요 누른 배우</h4>
    <div class="d-flex flex-row justify-content-start fw-bold">
    {% if actors %}
    {% for actor in actors %}
        <div>
            <form style="margin:10px;">
                <button class="btn btn-outline-light border border-none" style="border: none; padding:0; outline:none;">
                    <img width="135px" src="https://www.themoviedb.org/t/p/original{{ actor.profile_path }}" onerror="this.src=`{% static 'accounts/ALT_IMAGE.png' %}`" alt="">
                </button>
                <div style="width:135px; text-align: center; word-break:normal;" class="text-center text-dark">{{ actor.name }}
                    <span>
                        <i class="fa-solid fa-heart" style="color:red"></i>
                    </span>
                </div>
            </form>
        </div>
    {% endfor %}
    {% else %}
        <p>&ensp;좋아하는 배우가 없습니다.</p>
    {% endif %}
    </div>
    <hr>

    <h4>{{person.username}}님의 커뮤니티 게시글</h4>
    <div class="fw-bold">

    {% if person.article_set.all %}
        {% for article in person.article_set.all %}
        <p>&ensp;<a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></p>
        {% endfor %}
    {% else %}
        <p>&ensp;작성된 게시글이 없습니다.</p>
    {% endif %}
    </div>
    <hr>

    <h4>{{person.username}}님의 영화 댓글</h4>
    <div class="fw-bold">
    {% if person.comment_set.all %}
        {% for comment in person.comment_set.all %}
        <div>
            <p>&ensp;<a href="{% url 'movies:detail' comment.movie_id %}">{{ comment.content }}</a></p>
        </div>
        {% endfor %}
    {% else %}
        <p>&ensp;작성된 댓글이 없습니다.</p>
        {% endif %}
    </div>
    <hr>

    <h4>평점을 준 영화</h4>
    <div class="d-flex flex-row justify-content-start fw-bold">
    {% if scores %}
        {% for score in scores %}
            {% for movie in movies %}
                {% if score.movie_id == movie.id %}
                    <div>
                        <div class="">
                            <a class="text-decoration-none" href="{% url 'movies:detail' movie.pk %}">
                            <img class="items m-2 mt-2" width="135px" height="203px" src="https://www.themoviedb.org/t/p/original{{ movie.poster_path }}" alt="">
                            </a>
                        </div>
                        <div class="text-center ms-2" style="width:135px; word-break:normal;">{{movie.title}} ({{score.star}})</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>&ensp;평점을 준 영화가 없습니다.</p>
    {% endif %}
    </div>
    <hr>
    <br>
    {% endif %}
</div>
<br>



{% endblock content %}