{% extends 'base.html' %}

{% block content %}
<br>
<html lang="en" style="height: 100%">
<body class="mainbackgroundimagesetting">
<body>
    <div class="container detailmainbackgroundimagesetting">
      <br>
  <h1>글 작성하기</h1>
  <hr>
  <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="글 작성하기" class="btn btn-primary">
    <a class="btn btn-secondary" href="{% url 'articles:index' %}">돌아가기</a>
  </form>
  <br>
</div>
{% endblock content %}
