{% extends 'base.html' %}

{% block content %}
<br>
<html lang="en" style="height: 100%">
<body class="mainbackgroundimagesetting">
<body>
    <div class="container detailmainbackgroundimagesetting">
      <br>

  <div class="d-flex text-center justify-content-between align-items-center">
    <h2 class="m-0">{{ article.title }}</h2>
  </div>
  <hr>
  <h3>&ensp;{{ article.content }}</h3>
  <br>
  <br>
  <div class="d-flex align-items-center justify-content-end">
    <div>&ensp;&ensp;작성시간 : {{ article.created_at }} / 수정시간 : {{ article.updated_at }}</div>

    <div class="d-flex text-center justify-content-end">&ensp;&ensp;
      {% if request.user == article.user %}
      <div class="d-flex text-center justify-content-center align-items-center btn btn-success">
        <a class="text-decoration-none text-white" href="{% url 'articles:update' article.pk %}">글 수정하기</a>
      </div>
      &ensp;
      <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="글 삭제" class="btn btn-danger">
      </form>
      {% endif %}
      &ensp;
      <div>
        <button class="btn btn-secondary">
          <a class="text-decoration-none text-white" href="{% url 'articles:index' %}">돌아가기</a>
        </button>
      </div>
    </div>
  </div>
  <hr>
  <h4>댓글 ({{comments_len}})</h4>
  
  <div>
    {% for comment in comments %}
      <div>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">

            &ensp;<a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a>&ensp;- {{ comment.content }}
            {% if request.user == comment.user %}
            <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="X" class="btn">
            </form>
          </div>
          <div>
            <div>
              작성 시간 : {{comment.created_at}} / 수정 시간 : {{comment.updated_at}}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <hr>
  {% if request.user.is_authenticated %}
  {% comment %} <form action="{% url 'articles:comments_create' article.pk %}" method="POST"> {% endcomment %}
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
    {% csrf_token %}
    <label for="content"></label>
    <input id="content" type="text" name="content" placeholder="댓글 작성하기">
    <input type="submit" value="작성하기">
  </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <br>
</div>
{% endblock content %}
