{% extends 'base.html' %}

{% block content %}
<br>
<html lang="en" style="height: 100%">
<body class="mainbackgroundimagesetting">
<body>
    <div class="container detailmainbackgroundimagesetting">
  <br>
  <h1>글 수정하기</h1>
  <hr>
  <div class="d-flex flex-row">
    <div>
    <form action="{% url 'articles:update' article.pk %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="수정하기" class="btn btn-success">
      <a class="btn btn-secondary" href="{% url 'articles:detail' article.pk %}">돌아가기</a>
    </form>
    </div>
    <div>
    </div>
  </div>
  <br>
</div>
{% endblock content %}
